.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.title {
  text-align: center;
  color: #333;
  margin-bottom: 10px;
}

.loading, .error {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 50px;
}

.error {
  color: #d32f2f;
}